[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"f1d46ad" = {path = "/home/danjac/Projects/calendar-hangouts/slackclient"}
"236abad" = {path = "/home/danjac/Projects/calendar-hangouts/arrow"}
google-api-python-client = "*"


[requires]

python_version = "3.6"
